<ion-side-menus enable-menu-with-back-views="false">
    <ion-nav-bar class="bar-balanced" >
    </ion-nav-bar>

   
</ion-side-menus>

      <ion-view >
        <ion-tabs class="tabs-icon-top   "  style="background-color: black;">

          <ion-tab title="NEWS FEED" icon="ion-ios-paper" href="#/tab/feed" >
            <ion-nav-view name="feed-tab"></ion-nav-view>
          </ion-tab>

          

         <!-- <ion-tab title="REPORT" icon="ion-ios-compose" href="#/tab/report">
            <ion-nav-view name="report-tab"></ion-nav-view>
          </ion-tab> -->

          <ion-tab title="LOGOUT" icon="ion-log-out" href="#/login">
          </ion-tab>

        </ion-tabs>
      </ion-view>
