<!-- <ion-view view-title="FACEBOOK POSTS"> -->
<ion-header-bar class="bar-balanced" align-title="center" style="background:url(img/ds.png);">
    <h1 class="title" style="font-size:23px;font-family: Elephant;">FACEBOOK POSTS</h1>
</ion-header-bar>
  
  <div class="tabs-striped tabs-top ">
  <div class="tabs">
    <a class="tab-item " href="#/app/adfeed" style="font-family: Lucida Fax; ">
        NEWS FEED
    </a>
    <a class="tab-item active" href="#/app/adposts" style="font-family: Lucida Fax; ">
        FACEBOOK POSTS
    </a>
  </div>
</div>

  <ion-content class="padding" style="background: url(img/ee.jpg); background-repeat: no-repeat; background-attachment: fixed; background-size: cover;max-width: 100%;max-height: 100%; "><br><br><br>
<iframe src="https://www.facebook.com/plugins/page.php?href=https://www.facebook.com/alcuaa/?ref=br_rs=timeline&width=340&height=500&small_header=true&adapt_container_width=true&hide_cover=true&show_facepile=false&appId" width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
<br><br>
<iframe src="https://www.facebook.com/plugins/page.php?href=https://www.facebook.com/alcuaa/?ref=br_rs=timeline&width=340&height=500&small_header=true&adapt_container_width=true&hide_cover=true&show_facepile=false&appId" width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
  </ion-content>
<!-- </ion-view> -->
