<ion-side-menus enable-menu-with-back-views="false">
    <ion-nav-bar class="bar-balanced" >
    </ion-nav-bar>

 
</ion-side-menus> -->


      <ion-view >
        <ion-tabs class="tabs-icon-top "  style="background-color: black;">

          <ion-tab title="NEWS FEED" icon="ion-ios-paper" href="#/app/adfeed" >
            <ion-nav-view name="adfeed-tab"></ion-nav-view>
          </ion-tab>

           <ion-tab title="POST" icon="icon ion-plus" href="#/app/add" style="background-color: rgb(84,56,40);color: white;">
           <ion-nav-view name="add-tab"></ion-nav-view>

          <ion-tab title="LOGOUT" icon="ion-log-out" href="#/login">
          </ion-tab>

        </ion-tabs>
      </ion-view>

   



       

