<ion-view view-title="Post" ng-controller ='search'  style="text-align:center; background-image:url(img/bb.png); background-repeat; background-size: cover;">
	<ion-content>
	<div class ="list" ng-controller='addcomment'>
				<label class="item item-input" style="border-radius: 10px; color: #42bcf4; text-align: center; ">
					<input type="text" placeholder="Subject" ng-model="data.addsubject">
				</label>
			
				<label class="item item-input" style="border-radius: 10px; color: #42bcf4; text-align: center; ">
					<textarea placeholder="Announcement" ng-model="data.addcomment">
					</textarea>
				</label>
				
				<button ng-click="adda()" class="button button-block button-positive" style="border-radius: 10px; color: #42bcf4; text-align: center; " >
				Post
				</button>
			</div>
				<label class="item item-input">
					<i class="icon ion-ios-search placeholder-icon">
					</i>
					<input type="text" placeholder="Search subject" ng-model="search">
				</label>
				
				
				<div class="card" ng-repeat="x in comments | filter:search" >
					<div class="item item-text-wrap">
					
						<p>Subject: <span>{{x.addsubject}}</span></p><br>
						<p>Announcement: <span>{{x.addcomment}}</span></p><br>
					
		
					</div>
				</div>
	</ion-content>
</ion-view>